<h1>Tin tốt!</h1>

<p><%= link_to @product.name, product_url(@product) %> sản phẩm đã quay trở lại.</p>

<%= link_to "Unsubscribe", unsubscribe_url(token: params[:subscriber].generate_token_for(:unsubscribe)) %>
